<launch>

    <node name="gimbal_bag_record" pkg="rosbag" type="record" output="screen"
            args = "
            /video_capture_node/image_raw

            /target_detect_node/image_det
            /target_detect_node/detectBox
            
            /gimbal_control_node/gimbal_state
            
            /yolo/vision_info
            target_location_node/tarLocation_LocalCoord
            
            /mavros/global_position/global
            /mavros/global_position/local
            /mavros/home_position/home
            /mavros/local_position/pose
            /mavros/local_position/velocity_local
            /mavros/state

            /mavros_car/global_position/global
            /mavros_car/global_position/local
            /mavros_car/home_position/home
            /mavros_car/local_position/pose
            /mavros_car/local_position/velocity_local
            /mavros_car/state

            -o $(find gimbal_viservo)/bag/data">
    </node>



</launch>